@import 'fonts';
@import 'base';
@import 'variables';
@import 'null';
@import 'animation';
@import 'typography';

#app {
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page {
  flex: 1 1 auto;
}
